/********************************************
    by Kendra Wainscott 2022
    project:  Study Tool

    styling for the LANDING PAGE of
    the "STUDY TOOL" quiz project
    sheet organized alphabetically (after html)
*********************************************/
html {
  font-size: 16px;
  font-family: monospace;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
/*******************************************/
body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  font-family: monospace;
  margin: 1.5rem 1rem;
  padding: 1rem;
  border: 0.2rem solid black;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 11px 10px 3px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 11px 10px 3px rgba(0, 0, 0, 0.43);
}
button:hover {
  -webkit-box-shadow: 0px 3px 0px 3px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 3px 0px 3px rgba(0, 0, 0, 0.14);
}
.emergency {
  font-size: 1.1rem;
  background-color: rgba(234, 14, 14, 0.741);
  color: whitesmoke;
}
footer {
  opacity: 0.7;
}
iframe {
  width: 100%;
  -webkit-box-shadow: 0px 11px 10px 3px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 11px 10px 3px rgba(0, 0, 0, 0.43);
}
i {
  margin: 0.25rem;
  animation: stretch-heart 1.5s ease infinite alternate;
}
#initMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes stretch-heart {
  0% {
    transform: scaleX(1.25) scaleY(1.25);
  }
  100% {
    transform: scaleX(0.9) scaleY(0.9);
  }
}
select {
  font-size: 1rem;
  text-align: center;
}
option {
  font-size: 1rem;
  line-height: 1.5rem;
}
#time {
  display: none;
  text-align: center;
  font-size: 1.25rem;
}
